<h1>施設作成</h1>
<%= render 'layouts/error_messages', model: @room %>
<%= form_with(model: @room, local: true) do |form| %>

  <div class="field">
    <%= form.label :施設名%>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :施設詳細 %>
    <%= form.text_area :introduction %>
  </div>

  <div class="field">
    <%= form.label :料金 %>
    <%= form.number_field :price %>
  </div>
  <div class="field">
    <%= form.label :住所 %>
    <%= form.text_field :address %>
  </div>
  <div class="form-group">
    <%= form.label :部屋画像 %>
    <%= form.file_field :image, class: "form-control" %>
  </div>
 <%= form.hidden_field :user_id, value: @user.id %>
 <%= form.hidden_field :room_id, value: @room.id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

